.form-list-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.create-form-btn {
  margin-bottom: 20px;
  text-align: center;
}

.create-btn {
  padding: 12px 20px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
}

.create-btn:hover {
  background-color: #218838;
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
  gap:10px;
}

.form-item h3 {
  margin: 0;
}

.view-btn {
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
}

.view-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  padding: 6px 12px;
  background-color: #dc3545;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c82333;
}
